.extra_space {
    padding: 10px;
}
.techn4ology_cont {
  padding: 50px;
}
.technology_box_sec {
  padding: 20px 20px 20px 20px;
  background-color: #ce2128;
  border-radius: 20px 0px 20px 20px;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 29%);
  color: #fff;
  text-align: center;
}
.technology_box_sec h5 {
  margin-bottom: 12px;
}
.technology_box_sec .tech_box_img img {
  width: 80px;
  margin-bottom: 20px;
}
