.inner_achivement_sec .about_cont_box p.about_info {
  margin-top: 10px;
  color: #fff;
}
.inner_achivement_sec .about_cont_box .headings_outer,
.inner_achivement_sec .about_cont_box .sub_heading {
  color: #fff;
}
.about_cont_box .headings_outer {
  margin-bottom: 20px;
}
.about_counter .main_count {
  background: rgb(3 0 0 / 75%);
  padding: 40px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 50%);
  position: relative;
  z-index: 1;
}
.about_counter .main_count .four {
  /* background: #fff; */
  text-align: center;
  padding: 20px;
}
.about_counter .main_count .four span.counter {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  color: #fff;
}
.about_counter .main_count .four p {
  color: #666;
}

.about_counter .main_count .four {
  /* background: #fff; */
  text-align: center;
  padding: 20px;
}
.about_counter .main_count .four span.counter span {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.about_counter .main_count .four p {
  color: #666;
}


.about_counter .main_count .four span.counter {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
}
.about_counter .main_count .four p {
  font-size: 18px;
  font-weight: 600;
  color: #ce2128;
}
.counter span {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
}
span.counter span::before {
  position: absolute;
  content: "+";
  left: auto;
  right: -33px;
  top: -3px;
  color: #fff;
}
.inner_achivement .inner_achivement_sec .achive_cont {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  border-radius: 7px;
  text-align: center;
  margin-right: 10px;
}
.inner_achivement .inner_achivement_sec .achive_cont img {
  width: 64px;
  margin: auto;
  margin-bottom: 15px;
}
.inner_achivement .inner_achivement_sec .achive_cont h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ce2128;
}
.inner_achivement .inner_achivement_sec .achive_cont p.about_info {
  color: #7e8090;
}
.inner_achivement .inner_achivement_sec .about_achive_box .extra_space {
  padding: 10px;
}
.team_cont {
  padding-top: 40px;
}
.team_cont h5.team_heading {
  color: #ce2128;
}
.team_cont p {
  font-size: 15px;
  color: #7e8090;
}
.team_cont p.emp_quote {
  padding: 15px 0;
}
.team_cont span.sub_head_team {
  font-size: 15px;
}
.team_cont .team_img img {
  width: 225px;
  border: 0 solid #fff;
  overflow: hidden;
  transition: 0.5s;
}
.team_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 3px 6px 8px rgb(110 186 237 / 31%);
  margin-bottom: 30px;
}
.team_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.about_achive_box ul.slick-dots {
  bottom: 0;
}
.about_achive_box ul.slick-dots {
  bottom: 0;
  position: relative;
  margin-top: 20px;
}
.about_achive_box .slick-dots li button:before {
  font-size: 16px;
}
.about_achive_box .slick-dots li.slick-active button:before {
  color: #ce2128;
}
.about_achive_box .slick-dots li button:before {
  color: #fff;
}
.team_box {
  border: 2px solid #e8e9e9;
  border-radius: 7px;
  text-align: center;
}
ul.team_links li {
  display: inline-block;
}
.team_head {
  padding: 50px 30px;
  padding-bottom: 10px;
  position: relative;
}
.team_box:hover ul.team_links {
  transition: ease all 0.5s;
}
.about_exp p {
  color: #fff;
}
.technology {
  padding: 30px 0;
}
ul.team_links a {
  background: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  margin-bottom: 10px;
  color: inherit;
}
ul.team_links a i {
  color: #1f1f1f;
}
.team_img {
  position: relative;
}
.about {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.inner_about.inner_achivement {
  background-image: url("../../assets/about/service_phone.jpg");
  background-size: cover;
  background-position: center;
}
.about_img_box {
  position: relative;
  z-index: 2;
}
.about_blog,
.about_portfolio {
  overflow: hidden;
  border-radius: 50px 30px 50px 30px;
}
.blog_info a {
  color: #fff;
  font-weight: 600;
  position: relative;
}
.about_cont_box {
  padding: 0 2rem;
}
.portfolio_text {
  padding: 20px;
  position: relative;
}
.portfoli_outer_about {
  position: absolute;
  bottom: 0;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  width: 100%;
}
.about_portfolio {
  position: relative;
}
.space.out_team_section {
  padding: 140px 0;
}
.portfolio_text a,
.portfolio_text p {
  color: #fff;
  position: relative;
  z-index: 2;
  font-weight: 600;
}
.client_name {
  font-size: 14px;
  font-weight: 600;
}
.testimonial_img img {
  width: 50px;
  height: 50px;
}
.star.rating {
  position: absolute;
  right: 20px;
  bottom: 28px;
}
.about_cont_box {
  padding: 0 2rem;
}
.rating i {
  color: rgba(253, 204, 13);
}
.testimonial_img {
  display: flex;
  align-items: center;
  margin-top: 13px;
  width: 100%;
  position: relative;
}
.blog_element {
  position: relative;
}
.about_portfolio img {
  width: 100%;
}
.blog_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
}
.inner_about:hover .blog_info,
.inner_about:hover .portfoli_outer_about {
  transform: translateX(0);
  transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
}
.blog_info h6,
.blog_info p {
  color: #fff;
  position: relative;
  z-index: 2;
}
.blog_info h6 a {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
}
.blog_info_inner {
  position: relative;
  padding: 10px 18px;
}
.blog_info_inner::before,
.portfolio_text::before {
  position: absolute;
  content: "";
  background-color: transparent;
  background-image: linear-gradient(transparent, #000);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.bg_black.gallery.space {
  background: #000;
  color: #fff;
  position: relative;
}
.gallery_image img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.gallery_image {
  margin-bottom: 30px;
}
.gallery_text, .grid-container {
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1199px) {
  section.space.out_team_section {
    padding: 100px 0;
    overflow: hidden;
  }
}
@media screen and (max-width: 991px) {
  .team_box {
    margin-bottom: 30px;
  }
  section.space.out_team_section {
    padding: 30px 0;
  }
}
@media screen and (max-width: 767px) {
  .team_img {
    text-align: center;
  }
  .team_img img {
    width: 100%;
  }
  .team_box {
    text-align: center;
  }
}
.team-members {
  transform: rotate(-45deg);
}
.team-members li > div {
  float: left;
  width: 20%;
}
.team-members li:nth-child(2) > div:first-child {
  margin-left: 20%;
}
.team-members li:last-child > div:first-child {
  margin-left: 20%;
}
.member-details > div {
  background-color: #ddd;
  margin: 5px;
}
.member-details img {
  transform: rotate(45deg) translate(0, 15px) scale(1.6);
  display: block;
  width: 100%;
  height: 100%;
}
.member-details > div {
  position: relative;
  overflow: hidden;
}
.member-info {
  position: absolute;
  top: 32%;
  transform: rotate(45deg) translate(2px, 15px);
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}
.member-info h3,
.member-info p {
  margin: 0;
  color: #fff;
  position: relative;
  opacity: 0;
  visibility: hidden;
}
.member-info h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  top: -100px;
}
.member-info p {
  font-weight: 300;
  font-size: 12px;
  bottom: -150px;
}
.member-details > div:after {
  content: "";
  background-image: linear-gradient(
    45deg,
    rgba(228, 82, 69, 0.8) 50%,
    transparent 50%
  );
  position: absolute;
  top: -91px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.member-details *,
.member-details > div:after {
  cursor: pointer;
  transition: all 0.4s ease;
}
.member-details:hover *,
.member-details:hover > div:after {
  opacity: 1;
  visibility: visible;
}
.member-details:hover .member-info h3 {
  top: 0;
}
.member-details:hover .member-info p {
  bottom: 0;
}
.team-overview {
  padding-right: 15px;
}
.team-overview h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}
.team-overview > a {
  margin-bottom: 30px;
  display: block;
}
.team-overview > a:before {
  content: "";
  width: 10px;
  height: 2px;
  position: relative;
  top: -3px;
  margin-right: 5px;
  background-color: #ccc;
  display: inline-block;
}
.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-center > div:first-child {
  order: 2;
}
.octagon {
  display: inline-block;
  width: 12em;
  height: 12em;
  position: relative;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.octagon-in {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.octagon-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
section.our_team li {
  display: inline-block;
  margin: 5px;
}
.team_wrap {
  width: 90%;
  margin: auto;
}
section.about_counter {
  background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.about_counter::after{
  position: absolute;
  content: "";
  background: rgb(0 0 0 / 36%);
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
  width: 100%;
  height: 100%;

}
@media screen and (max-width: 1199px) {
  h2.common_heading {
    font-size: 23px;
  }
}
@media screen and (max-width: 991px) {
  .about_cont_box {
    margin-top: 60px;
  }
  .about_blog.left_blog li,
  .about_blog.left_blog li img {
    overflow: hidden;
    height: 240px;
  }
}
@media (min-width: 991px) {
  section.inner_about.container {
    max-width: 1070px;
  }
  .blog_info,
  .portfoli_outer_about {
    transform: translateX(0);
    border-radius: 7px;
  }
}
@media only screen and (max-width: 992px) {
  .sm-no-float {
    float: none !important;
  }
  .sm-text-center {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .about_portfolio img,
  .blog_element img {
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  .blog_info,
  .portfoli_outer_about {
    transform: translateX(0);
    border-radius: 7px;
  }
  .about_blog,
  .about_portfolio {
    overflow: hidden;
    border-radius: 7px;
  }
  .about_cont_box {
    padding: 0 1rem;
  }
  .portfoli_outer_about {
    bottom: 0;
    top: auto;
  }
  .client_text {
    margin-left: 0;
  }
  .client-image {
    display: none;
  }
  .prev_arrow {
    position: relative;
    right: 0;
    top: auto;
  }
  .next_arrow {
    position: absolute;
    left: 36px;
    top: auto;
    bottom: 0;
  }
  .global_btn {
    margin-top: 10px;
    text-align: center;
  }
  .addres_block {
    margin: 13px;
  }
  .home_contact {
    padding: 0 0;
  }
  .team-members {
    transform: unset;
  }
  .team-members li:last-child > div:first-child {
    margin-left: 0;
  }
  .member-details img {
    transform: unset;
  }
  li.clearfix {
    display: flex;
    justify-content: center;
  }
  .about_counter .main_count .four span.counter span {
    font-size: 30px;
  }
  .blog_element {
    border-radius: 7px;
    overflow: hidden;
  }
  .member-details > div:after {
    content: "";
    background-image: linear-gradient(
      1deg,
      rgba(228, 82, 69, 0.8) 100%,
      transparent 50%
    );
    top: 0;
  }
  .member-info {
    transform: unset;
    top: 40%;
  }
  .team-overview {
    margin-bottom: 30px;
  }
  .about_blog.left_blog li,
  .about_blog.left_blog li img {
    overflow: hidden;
    height: unset;
  }
  .inner_achivement_sec .about_cont_box p.about_info {
    margin-bottom: 30px;
  }
  .service_about img {
    margin-bottom: 30px;
  }
  .service_about li img {
    margin-bottom: 0;
  }
  .gapcis_card {
    padding: 0 8px;
  }
  .gallery_text, .grid-container {

    padding: 20px;
}
.grid-container button.slick-arrow {
  display: block !important;
}
span.counter span::before {
  top: -1px;
}
}
@media only screen and (max-width: 550px) {
  .team-members li {
    text-align: center;
  }
  .team-members li > div {
    float: none;
    display: inline-block;
    width: 30%;
    margin: 0 !important;
  }
  .team-members {
    transform: rotate(0);
  }
  .member-details img {
    transform: rotate(0) translate(0, 0);
  }
  .team-overview {
    padding: 15px;
  }
  li.clearfix {
    display: block;
    justify-content: center;
  }
  .team-members li > div {
    width: 50%;
  }
  .star.rating {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
  }
}
