.loader-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;
}

.loader_image img {
    width: 200px;
    margin: auto;
}


.loader-outer h2 {
    color: #fff;
    margin-top: 30px;
    font-size: 60px;
}