.baner_design {
  background-image: url("../../assets/home/home_bg.png");
  background-size: cover;
  padding: 16em 0;
  background-position: center;
}
.bennr_inner h1 {
  font-size: 50px;
  color: #fff;
}
.bennr_inner h1 span {
  display: block;
  color: #ce2128;
  font-size: 45px;
  font-weight: bold;
  line-height: 70px;
}
.bennr_inner h4 {
  font-size: 30px;
  color: #fff;
}
.graphic_bg {
  background-color: #3cc340 !important;
}
.home_about_content {
  margin-top: 50px;
}
h4.bar_heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}
a.banner_link {
  background: #ce2128;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.progress_bars {
  margin-bottom: 15px;
}
.progress {
  height: 12px;
  font-size: 10px;
}
.services_grid_img img {
  width: 64px;
  height: 64px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}
.services_grid_img {
  background: #f7f9fd;
  border-radius: 50%;
  padding-top: 16px;
  border: 1px solid;
  display: inline-block;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

.services_grid {
  text-align: center;
  margin-bottom: 30px;
  /* padding: 20px 15px 20px 15px;
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-radius: 20px 0px 20px 20px;

  box-shadow: 0px 0px 7px rgb(0 0 0 / 21%); */
}

.services_grid:hover .services_grid_img img {
  position: relative;
  bottom: 10px;
  transition: ease all .5s;
    -webkit-transition: ease all .5s;

}
.services_grid{
    transition: ease all .5s; -webkit-transition: ease all .5s;
}

section.services {
  background: #f8f8f9;
  /* background-image: url(../../assets/home/servicesbg-2.png); */
  background-size: cover;
  background-repeat: no-repeat;
}
section.Blogs {
  background: #fff;
  /* background-image: url(../../assets/home/blog_bg.png); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.services_grid_text h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  font-weight: 600;
}

.services_grid_text {
  padding: 0px 10px;
}

.services_grid_text p {
  font-size: 14px;
  min-height: 100px;
}

p.about_description {
  margin-bottom: 15px;
}
/* .services_grid {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.services_grid::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
} */
section.testimonial {
  /* background-image: url(../../assets/home/testimonils-bg.jpg); */
  overflow: hidden;
}
.bennr_inner h1,
.bennr_inner h4 {
  text-shadow: 7px 7px 6px rgb(0 0 0 / 70%);
}
.bennr_inner a {
  box-shadow: 4px 4px 4px rgb(0 0 0 / 70%);
}
section.contact_us.space {
  background: #f3f3f3;
}
.arrow_positioning {
  position: absolute;
  top: 50%;
  width: 100%;
}

.next_arrow {
  position: absolute;
  top: -50px;
  right: 60px;
}

.prev_arrow {
  position: absolute;
  right: 20px;
  top: -50px;
}

.grid-outer:nth-child(1) .services_grid_img {
  background: #0593fc;
}
.grid-outer:nth-child(2) .services_grid_img {
  background: #9fb0fe;
}
.grid-outer:nth-child(3) .services_grid_img {
  background: #3f4bd7;
}
.grid-outer:nth-child(4) .services_grid_img {
  background: #fa759e;
}
.grid-outer:nth-child(5) .services_grid_img {
  background: #4e6fc8;
}
.grid-outer:nth-child(6) .services_grid_img {
  background: #78b75b;
}

@media screen and (max-width: 1440px) {
  .baner_design {
    padding: 12.5em 0;
  }
}
@media screen and (max-width: 991px) {
  .bennr_inner h1,
  .bennr_inner h1 span {
    font-size: 45px;
    line-height: 55px;
  }
  .bennr_inner h4 {
    font-size: 25px;
  }
  .baner_design {
    padding: 10.5em 0;
  }
}
@media screen and (max-width: 767px) {
  .global_btn {
    margin-top: 15px;
  }
  .services_grid_text p {
    min-height: unset;
  }
}
@media screen and (max-width: 575px) {
  .bennr_inner h1,
  .bennr_inner h1 span {
    font-size: 35px;
    line-height: 48px;
  }
  .bennr_inner h4 {
    font-size: 25px;
  }
}
