.foot_outer{
    background-image: url(../../assets/about/contact_bottom.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 70px 0;
    background-position: center center;
}
.foot_outer::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0%;
    left: 0;
    right: 0%;
    background-color:rgb(0 0 0 / 90%);
    height: 100%;
    width: 100%;
}
.foot_inner {
    border: 1px solid;
    padding: 80px;
    text-align: center;
    border-color: rgba(255,255,255,0.3);
    z-index: 1;
    position: relative;
}
.foot_inner h4 {
    font-size: 14px;
    color: #ce2128;
}

.foot_inner h2 {
    font-size: 50px;
    line-height: 77px;
    color: #fff;
}

.foot_inner p {
    color: #fff;
}
.foot_inner .global_btn a {
    background: #ce2128;
    color: #fff;
}
@media screen and (max-width:991px){

}
@media screen and (max-width:767px){

}
@media screen and (max-width:575px){

}