
.steps_cont {
    position: relative;
}

.steps_cont_text {
    width: 44%;
    position: absolute;
    top: 20px;
}

.steps_cont_text  h3 {
    font-size: 18px;
}
.step_item.center_step .steps_icon {
    background: #ce2128;
}


.steps_cont .steps_cont_text h6 {  
    margin-bottom: 15px;
}

.steps_cont .steps_cont_text h5 {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 32px;
}
 @media screen and (max-width:991px) {
    .steps_cont_img {
        text-align: center;
    }
    .steps_cont_text h3 {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 30px;
    }
 }
@media screen and (max-width:767px){
    .steps_cont_img{
        margin-top: 2em;
    }
}