

.step_item.center_step .steps_icon {
    background: #ce2128;
}


.steps_cont .steps_cont_text h6 {  
    margin-bottom: 15px;
}

.steps_cont .steps_cont_text h5 {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 32px;
}
