
.testimonails_outer {
    padding: 10px;
    position: relative;
}
.client-image {
    position: relative;
}
.project_logo img {
    height: unset;
}
.arrow_bg {
    width: 30px;
    height: 30px;
    border: 1px solid#ce2128;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

.arrow_bg i {
    font-size: 16px;
    line-height: 24px;
    color: #ce2128;
}


.client-image {
    width: 200px;
    height: 200px;
}

.client-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.client_text {
    padding: 50px 30px;
    margin-left: 230px;
    padding-bottom: 30px;
}

.client_text {
    -webkit-box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
}
.testimonials {
    position: relative;
}


.testimonials {
    position: relative;
}

.client-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    -webkit-box-shadow: 0 0 8px  rgb(0 0 0 / 20%);
    box-shadow: 0 0 8px rgb(0 0 0 / 20%);
    border:10px solid #fff;
}

.client_text p {
    font-size: 16px;
    color: #6b717f;
    font-weight: 500;
}

.client_text {
    position: relative;
}

.client_text::before {
    left: 28px;
    top: 8px;
    content: "\f10d ";
    font-family: 'FontAwesome';
    position: absolute;
    color: #ff00007d;
    font-size: 30px;
}
.client_text::after {
    right: 28px;
    bottom: 8px;
    content: "\f10e  ";
    font-family: 'FontAwesome';
    position: absolute;
    color: #ff00007d;
    font-size: 30px;
}
.client-name {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: #ce2128;
}
@media screen and (max-width:767px) {
    .client-name {
        font-size: 1.2em;
        line-height: 2em;
    }
}