.client-image img {
    height: 300px;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.testimonails_outer {
    padding: 10px;
    position: relative;
}

.project_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-image {
    position: relative;
}

.project_logo img {
    height: unset;
}
.arrow_bg {
    width: 30px;
    height: 30px;
    border: 1px solid#ce2128;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}

.arrow_bg i {
    font-size: 16px;
    line-height: 24px;
    color: #ce2128;
}