.modal-body {
  display: flex;
  padding: 0px 15px;
}
p.emp_designation {
  font-size: 18px;
  font-weight: 600;
  color: #707070;
}
.close {
  font-weight: unset;
  font-size: 1rem;
}
.modal-header .close {
  padding-top: 10px;
}
.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}
button.close {
  position: absolute;
  right: 15px;
  z-index: 1;
  top: 10px;
}

.emp_content {
    padding: 22px;
}
.team_image{
  min-height: 250px;
  border-radius: 3px 0px 0px 3px;
}
p.experiennce, p.skills {
  font-weight: 600;
  font-size: 15px;
}