.portfolios{
    /* background-image: url('../../assets/portfolio/portfolio-banner.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-card{
    padding: 15px;
}
.image {
    width: 100%;
    height: 170px;
    object-fit: fill;
}
.tagsfilter {
    margin-bottom: 41px;
}

.card_inner img {
    border-radius: 7px;
}

.card_inner {
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 28%);
}
.lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter 1s;
}
button.Inactive {
    background: transparent;
    border: transparent;
    padding: 10px;
    margin: 0px 10px;
    outline: unset;
}
button.Active:focus {
    outline: unset;
}
button.cm_btn {
    color: #000;
    border: 2px solid #ce2128;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 35px;
    background: transparent;
    padding: 10px 20px;
    outline: unset;
}
button.Active {
    background: #ce2128;
    border: transparent;
    padding: 10px 20px;
    color: #000;
    outline: unset;
    }
    .hide {
        display: none;
    }
    .image-card img {
        height: 168px;
        object-fit: fill;
    }
    .our_expertise img {
        width: 52px;
    }
    
    .expertise_content {
        margin-top: 20px;
    }
    
    .our_expertise {
        padding: 3em;
        background: #1e1e1e;
        height: 100%;
    }
    .design_images img {
        height: 355px;
        object-fit: cover;
    }
    .our_expertise.product_design {
        background: #ce2128;
    }    
    section.balck_bg {
        background: #111111;
    }
    .our_expertise_outer{
        position: relative;
    }
    .our_expertise h5,.our_expertise p {
        color: #000;
    }
    .our_info p.company_exp {
        color: #0e0e0e;
        font-size: 20px;
        font-weight: 500;
    }
    .our_expertise_outer::before{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        width: 50%;
        height: 100%;
    }
    .our_info {
        margin-top: 60px;
        text-align: center;
    }
    .portfolio_header, .portfolio_header p {
        color: #000;
    }
    .our_info h3 {
        color: #ce2128;
        font-size: 60px;
        text-align: center;
    }
  
    .our_designs h5 {
        color: #000;
        font-size: 30px;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .our_designs a {
        color: #ce2128;
        font-weight: 500;
        font-size: 16px;
    }
 
    .design_images img {
        height: 355px;
        object-fit: cover;
    }
    .our_info p {
        color: #000;
    }
    
    .our_experience {
        padding: 20px;
        background: #1e1e1e;
        margin-bottom: 20px;
    }
    
    .our_experience h5 {
        color: #ce2128;
    }
    .about_gallery img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding: 1px;
    }
    /*  */
@media screen and (max-width:767px){
    .filter_inner {
        margin-bottom: 40px;
    }  
    button.filt_button {
        padding: 5px 3px;
        
}
.image {
    height: unset;
}
}



